.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem auto;
    width: 50%;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    background-color: #191919;
    padding: 30px;
    border-radius: 20px;
    border: 2px ridge #fff;
}

img {
    width: 37px;
    height: 37px;
    margin-left: 10px;
}

.welcome-title {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    word-spacing: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.buttons-div {
    margin: 16px auto;
}

button {
    font-size: 16px;
}