<div class="welcome-page">
    <h1 class="welcome-title">
        Welcome to AvengersFlix!
        <img src="/assets/logo.png" alt="image">
    </h1>
    <p style="text-align: center; font-size: 16px;">An application that consists of the most popular movies of the
        Avengers heroes. Created for fans to be able view Avengers movies and their details in one location. Join us!
    </p>
    <div class='buttons-div'>
        <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 20px" color='primary'>
            Register
        </button>
        <button mat-raised-button (click)="openUserLoginDialog()" style="margin-left: 20px" color='primary'>
            Login
        </button>
    </div>
</div>