<div>
    <mat-toolbar class="navbar">
        <button mat-button (click)="toHome()" aria-label="Home button" class="logo-button">
            <img src="assets/images/logo.png">
            <span>vengersFlix</span>
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="toProfile()" color="primary" aria-label="Profile page button">
            Profile
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="logout()" color="warn" aria-label="Log out button">
            Log out
        </button>
    </mat-toolbar>
</div>