<div>
    <mat-toolbar class="navbar">
        <button mat-button (click)="toMovieCard()" aria-label="Home button" style="font-family: 'Acme', sans-serif;
        font-size: 20px;">
            <img src="/assets/images/logo.png">
            <span>vengersFlix</span>
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" aria-label="Profile page button">
            Profile
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="logout()" color="warn" aria-label="Log out button">
            Log out
        </button>
    </mat-toolbar>
</div>