.navbar {
    background-color: #C9CCD5;
}

.nav-brand {
    font-family: 'Acme', sans-serif;
    font-size: 100px;
}

img {
    width: 30px;
    height: 30px;
}

.example-spacer {
    flex: 1 1 auto;
}
