.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem auto;
    width: 50%;
    font-family: 'Work Sans', sans-serif;
}

img {
    width: 37px;
    height: 37px;
    margin-left: 10px;
}

.welcome-title {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    word-spacing: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.buttons-div {
    margin: 16px auto;
}
