<style>
  .main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem auto;
    width: 50%;
    font-family: 'Work Sans', sans-serif;
  }

  img {
    width: 37px;
    height: 37px;
    margin-left: 10px;
  }

  .welcome-title {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    word-spacing: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
</style>

<div class="main-page">
  <h1 class="welcome-title">
    Welcome to AvengersFlix!
    <img src="/assets/logo.png" alt="image">
  </h1>
  <p style="text-align: center; font-size: 16px;">An application that consists of the most popular movies of the
    Avengers heroes. Created for
    fans to be able view all the
    movies and their details in one location. Join us!</p>
  <div>
    <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 20px" color='primary'>
      Register
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()" style="margin-left: 20px" color='primary'>
      Login
    </button>
    <button mat-raised-button color="primary" (click)="openMoviesDialog()">
      All Movies
    </button>
  </div>
</div>