.profile-div {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin: 30px auto;
}

.favorited-div {
    background-color: #D9D7F1;
    padding: 30px;
    border-radius: 20px;
    border: 4px groove #FFF;
}

h2 {
    font-family: 'Acme', sans-serif;
    font-size: 34px;
}

li {
    font-size: 20px;
}

.details-div {
    max-width: 400px;
    background-color: #F6F2D4;
    padding: 16px;
    border-radius: 20px;
    font-size: 17px;
    border: 4px groove #FFF;
}

mat-card {
    background-color: #FEE3EC;
    font-family: 'Acme', sans-serif;
    max-width: 400px;
    margin-top: 20px;
    border-radius: 20px;
    border: 4px groove #FFF;
}

mat-card-content {
    margin: 16px;
}

input {
    font-size: 17px;
}
